// Body
$body-bg: #fbfdff;

// Typography
$font-family-sans-serif: 'Nunito', Arial, Helvetica, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

// Colors
$blue: #2c7be5;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e63757;
$orange: #f6993f;
$yellow: #f6c343;
$green: #00d97e;
$teal: #4dc0b5;
$cyan: #39afd1;
$dark: #322867;

// Expand default container widths.
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px,
) !default;

// Dropdowns
$dropdown-bg: $dark;
$dropdown-color:#fff;
$dropdown-divider-bg: #7877b1;

// Cards
$card-bg:#fafafa;
$card-border-width:0;
$card-border-radius:.35rem;
$card-cap-bg:#fff;

// Form control modifications.
$input-border-width: 2px;
$border-radius: .35rem;
$input-placeholder-color: #cbcbcb;

// Swal
$swal2-confirm-button-background-color: $dark;

$list-group-item-padding-y: 0.5rem;
$card-spacer-y: 0.5rem;
